
services:
  app:
    build: .
    container_name: batch-auth-bypass-app-dev
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - FLASK_ENV=development
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    container_name: batch-auth-bypass-nginx-dev
    restart: unless-stopped
    ports:
      - "8006:80"
    volumes:
      - ./conf/nginx-dev/nginx-dev.conf:/etc/nginx/nginx.conf
    networks:
      - app-network
    depends_on:
      - app

networks:
  app-network:
    driver: bridge