
services:
  app:
    build: .
    container_name: nosql-injection-app
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - MONGO_URL=mongodb://mongo:27017
    depends_on:
      - mongo
    networks:
      - app-network

  mongo:
    image: mongo:7
    container_name: nosql-injection-mongo
    restart: unless-stopped
    environment:
      - MONGO_INITDB_DATABASE=ctf_challenge
    volumes:
      - mongo_data:/data/db
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    container_name: nosql-injection-nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./conf/nginx-prod/nginx.conf:/etc/nginx/nginx.conf
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    networks:
      - app-network
    depends_on:
      - app

  certbot:
    image: certbot/certbot
    container_name: nosql-injection-certbot
    volumes:
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"

volumes:
  mongo_data:

networks:
  app-network:
    driver: bridge